.container {
  position: relative;
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .container {
    padding: 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 20px 100px;
  }
}
