.popoverBtn {
  border: transparent;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: color var(--transition);
}

.btn:first-child {
  margin-bottom: 8px;
}

.btn:hover,
.btn:focus {
  color: rgb(133, 170, 159);
}

@media (min-width: 768px) {
  .btn {
    font-size: 16px;
    line-height: 1.5;
  }
  .icon {
    position: relative;
    top: 1px;
  }
}
