.content {
  color: rgb(252, 252, 252);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 28px;
}

.link {
  width: fit-content;
  color: inherit;
  padding: 12px 20px;
}

.active {
  color: var(--text-color-primary);
  border-radius: 15px;
  background: rgb(252, 252, 252);
}

@media (min-width: 1440px) {
  .content {
    color: var(--text-color-primary);
  }
  .nav {
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  .active {
    width: fit-content;
    color: rgb(252, 252, 252);
    border-radius: 15px;
    background: var(--main-color);
  }
}
