.field input {
  width: 100%;
  padding: 16px 18px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 15px;
  background-color: inherit;
}

.field {
  margin-bottom: 14px;
}

.field:last-of-type {
  margin-bottom: 32px;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 16px 0;
  margin-bottom: 16px;
  border-radius: 30px;
  background-color: var(--main-color);
  border-color: transparent;

  color: rgb(252, 252, 252);
  font-weight: 700;
  line-height: 1.5;
}

.link {
  display: block;
  color: rgba(18, 20, 23, 0.5);
  font-weight: 700;
  line-height: 1.5;
  text-decoration-line: underline;
  text-align: center;
}
